In [1]:
##Basic Input and Output:

##Write a program that takes a user's name as input and prints a personalized greeting.

str=input('Enter you name')
print('This is a Python Beginner exercise',str)

Enter you name Pallab

This is a Python Beginner exercise Pallab

In [6]:
##Write a program that takes a sentence as input and counts the number of vowels in the sentence.

str2=input('Enter the string:')
counter=0
for i in str2:
        if i in('aeiou'):
            counter+=1
print('No of vowels:',counter)

Enter the string: Penguin

No of vowerls: 3

In [10]:
##Write a program that takes a word as input and prints the word in reverse.

word_inp=input('Enter a Word')
word_inpt=word_inp[::-1]
print(word_inpt)

Enter a Word Test

tseT

In [1]:
##Write a program that takes a string as input and checks if it's a palindrome.

In [4]:
str_chk=input('Enter a String:')
if str_chk==str_chk[::-1]:
    print('Palindrome')
else:
    print('Not a palindrome')

Enter a String: III

Palindrome

In [7]:
##Write a program that prints the first 10 natural numbers using a for loop.
i=[1,2,3,4,5,6,7,8,9,10]
for j in i:
    print(j)

1
2
3
4
5
6
7
8
9
10

In [10]:
##Write a program that uses a while loop to print the numbers from 1 to 10

init=1;
while init<=10:
    print(init)
    init+=1

1
2
3
4
5
6
7
8
9
10

In [32]:
##Write a program that prints a multiplication table for numbers 1 through 5 using nested loops.
begin=1
multip=(1,2,3,4,5,6,7,8,9,10)
while begin<=5:
    print('\n')
    for i in multip:
        print(begin,'X',i,'=',begin*i)
    begin+=1

1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10


2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20


3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30


4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40


5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [36]:
##Write a program that prints a right-angled triangle pattern using asterisks ('*')
for i in range(10):
    for j in range(i):
        print('*',end=' ')
    print('\n')

*

* *

* * *

* * * *

* * * * *

* * * * * *

* * * * * * *

* * * * * * * *

* * * * * * * * *

In [45]:
##Write a program that takes a list of numbers as input, sorts it in ascending order, and prints the sorted list

list=[]
i='Y'
while i in('Yy'):
    x=input('Enter a value')
    list.append(x)
    i=input('Enter Another value (Y/N)')
list.sort()
print('Sorted list:',list)

Enter a value 4
Enter Another value (Y/N) y
Enter a value 56
Enter Another value (Y/N) y
Enter a value 6
Enter Another value (Y/N) y
Enter a value 2
Enter Another value (Y/N) y
Enter a value 8
Enter Another value (Y/N) y
Enter a value 1
Enter Another value (Y/N) n

Sorted list: ['1', '2', '4', '56', '6', '8']

In [77]:
##Write a program that takes a list of numbers and creates a new list with only the even numbers.
list=[]
i='Y'
while i in('Yy'):
    x=input('Enter a value')
    list.append(int(x))
   
    i=input('Enter Another value (Y/N)')

new_list=[]
for j in list:
    if j%2==0:
        new_list.append(j)
print(new_list)

Enter a value 4
Enter Another value (Y/N) y
Enter a value 5
Enter Another value (Y/N) y
Enter a value 7
Enter Another value (Y/N) y
Enter a value 6
Enter Another value (Y/N) y
Enter a value 8
Enter Another value (Y/N) y
Enter a value 6
Enter Another value (Y/N) y
Enter a value 5
Enter Another value (Y/N) n

[4, 6, 8, 6]

In [81]:
##Write a program that takes a tuple with three elements and assigns them to three variables, then prints each variable.
tup=(1,'str',23.45)
var1=tup[0]
var2=tup[1]
var3=tup[2]
print(var1,var2,var3)

1 str 23.45

In [84]:
##Write a program that takes a list of numbers as input and finds the maximum and minimum values in the list.

list=[]
i='Y'
while i in('Yy'):
    x=input('Enter a value')
    list.append(int(x))
    i=input('Enter Another value (Y/N)')
    
print(max(list),min(list))

Enter a value 5
Enter Another value (Y/N) y
Enter a value 6
Enter Another value (Y/N) y
Enter a value 2
Enter Another value (Y/N) y
Enter a value 3
Enter Another value (Y/N) y
Enter a value 8
Enter Another value (Y/N) y
Enter a value 9
Enter Another value (Y/N) n

9 2

In [86]:
##Create a dictionary to store the names and ages of five people. Print the dictionary.

dict={'Name':['A','B','C'],'Age':['23','34','23']}

In [89]:
dict

{'Name': ['A', 'B', 'C'], 'Age': ['23', '34', '23']}

In [92]:
dict.keys()

dict_keys(['Name', 'Age'])

In [93]:
##Given a dictionary of student names as keys and their scores as values, write a program to print the score of a specific student.

Stu_dict={'Andrew':'23','Dave':'12','Jannie':'34'}

name=input('Student Name:')
Stu_dict.get(name)

Student Name: Andrew

'23'

In [98]:
##Add a new key-value pair to an existing dictionary and print the updated dictionary.
Stu_dict.update({'Paula':'65'})

In [99]:
Stu_dict

{'Andrew': '23', 'Dave': '12', 'Jannie': '34', '6': '5', 'Paula': '65'}

In [101]:
##Write a program to remove a specific key-value pair from a dictionary

Stu_dict.pop('Paula')

'65'

In [102]:
Stu_dict

{'Andrew': '23', 'Dave': '12', 'Jannie': '34', '6': '5'}

In [103]:
##Given a dictionary of items and their prices, write a program that prints each item and its price.

price_dict={'Item':'23','Item2':'43','Item3':'98'}

In [105]:
price_dict.items()

dict_items([('Item', '23'), ('Item2', '43'), ('Item3', '98')])

In [16]:
##Write a program that calculates the sum of all numbers from 1 to 100 using a for loop.

sum=0 ##initializing sum as 0
i=0 ## varable to run through the loop
while i<=100:
    sum=sum+i
    i+=1
print('\n Sum of all the numbers is :',sum)

 Sum of all the numbers is : 5050

In [20]:
##Write a program that calculates the factorial of a given number using a while loop.

fact=1
i=1
no=int(input('\n Enter a number:'))
while i<=no:
    fact=fact*i
    i+=1
print(fact)

 Enter a number: 6

720

In [21]:
##Create a program that takes a list of numbers and uses a for loop to separate them into even and odd numbers. Print the lists of even and odd numbers separately

##Creating variables to store the list
main_list=[]
odd_list=[]
even_list=[]

##User terminated loop for taking input into the main list
res='Y'
while res in ('Yy'):
    inp=int(input('\n Enter a number :'))
    main_list.append(inp)
    res=input('\n Do you want to input more ? (Y/N)')
    
## chekcing if the numbers are odd or even and appending to sublists

for i in main_list:
    if i%2==0:
        even_list.append(i)
    else:
        odd_list.append(i)

print('\n Odd Numbers list :',odd_list)
print('\n Even Numbers list :',even_list)

 Enter a number : 4

 Do you want to input more ? (Y/N) y

 Enter a number : 6

 Do you want to input more ? (Y/N) y

 Enter a number : 4

 Do you want to input more ? (Y/N) y

 Enter a number : 2

 Do you want to input more ? (Y/N) y

 Enter a number : 9

 Do you want to input more ? (Y/N) Y

 Enter a number : 6

 Do you want to input more ? (Y/N) n

 Odd Numbers list : [9]

 Even Numbers list : [4, 6, 4, 2, 6]

In [1]:
dict={'Name':'Uls'}

In [3]:
list=[]

In [4]:
list.append(dict)

In [8]:
dict.

{'Name': 'Uls'}

In [1]:
##Functions Task 1: Create a Function to Calculate the Average of a List

In [19]:
def avg_calc(a):
    avg=sum(a)/len(a)
    return avg

In [20]:
lis=[1,2,3,4,5]

In [21]:
avg_calc(lis)

3.0

In [22]:
##Create a Function to Count Occurrences of Elements in a List

def Count_occ(a,b):
    count=0
    for i in a:
        if i==b:
            count+=1
        else:
            continue
    return count

In [23]:
lis=[1,2,3,4,2]

In [26]:
Count_occ(lis,5)

0

In [30]:
## Create a Function to Filter Even Numbers

def filer_even(a):
    even=[]
    for i in a:
        if i%2==0:
            even.append(i)
        else:
            continue
    return even

In [28]:
list=[2,4,4,5,6,2,1]

In [31]:
filer_even(list)

[2, 4, 4, 6, 2]

In [37]:
## Create a Function to Find the Maximum Value in a Tuple

def max_tup(a):
    max_tup=max(a)
    return max_tup

In [35]:
tup=(1,2,7,6,9)

In [38]:
max_tup(tup)

9

In [42]:
##Create a Function to Flatten a List of Lists
def flatten_list(a):
    new_list=[]
    for i in a:
        for x in i:  
            new_list.append(x)
    return new_list

In [5]:
list1=[[1,2,3],[2,3,4]]

In [44]:
flatten_list(list)

[1, 2, 3, 2, 3, 4]

In [25]:
file=open('test.txt','w')

In [26]:
file.write('list1')

5

In [27]:
file.close()

In [14]:
file

In [28]:
f= open('test.txt','r+')

In [29]:
f.read()

'list1'

In [30]:
f.write('\n test 2')

8

In [34]:
f.close()

In [43]:
f=open('test.txt','r+')

In [45]:
f.read()

' test 2'

In [46]:
f.close()

In [47]:
f=open('test.txt','a')

In [48]:
f.write(repr(list1))

22

In [49]:
f.close()

In [50]:
f=open('test.txt','r')

In [51]:
f.read()

'list1\n test 2[[1, 2, 3], [2, 3, 4]]'

In [1]:
import os as o

In [3]:
o.remove('test.txt')